@import "tailwindcss";

@theme {
  --color-good: #22c55e;
  --color-average: #eab308;
  --color-bad: #ef4444;
  --color-empty: #e5e7eb;
}

body {
  @apply bg-gray-50 text-gray-900 min-h-screen;
}

/* Hide scrollbar but allow scrolling */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
